{{#partial "content"}}
    <section>
        <div class="container">
            <div class="entry-list">
            <h1>What the?!!!!</h1>
            <p>We couldn't find what you were looking for...</p>
        </div>
        </div>
    </section>
{{/partial}}

{{#partial "title"}}Not found{{/partial}}

{{> base.hbs}}